.navbar {
    font-size: 12px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10;
    z-index: 10;
    padding: 10px;
}

.navbar a {
    margin: 0 5px;
    text-decoration: none;
    color: #00c4d0;
    border-radius: 4px;
    transition: background-color 0.3s;
    opacity: 0.7;
}

.navbar a:hover {
    opacity: 1;
}
.navbar a.active {
    opacity: 1;
    font-weight: 600;
}